// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #d0363f;
$green: #547d00;
$light-green: #8bb22b;
$light: #bfa5a3;
$brown: #574240;
